





<form [formGroup]="SignIn" (ngSubmit)="onSubmit()" style="margin-left: 30%;"  >

  <div class="mb-3 form-group w-50 text-center" >
    <label for="username" class="form-label">username</label>
    <input type="text" class="form-control " formControlName="username" id="username">
    <div id="username" class="form-text">We'll never share your email with anyone else.</div>
  </div>


  <div class="mb-3 w-50 ">
    <label for="password"   class="form-label">Password</label>
    <input type="password" required formControlName="password"  class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a routerLink="../register" class="btn btn-link">Register</a>
</form>
