

<section class="container">

<form [formGroup]="SignIn" (ngSubmit)="onSubmit()" style="margin-left:25%; padding-top: 10%;"  >

  <div class="mb-3 form-group w-50" >
    <label for="email" class="form-label">email</label>
    <input type="text" class="form-control " formControlName="email" id="email">
    <div id="username" class="form-text">We'll never share your email with anyone else.</div>
  </div>


  <div class="mb-3 w-50 ">
    <label for="password"   class="form-label">Password</label>
    <input type="password" required formControlName="password"  class="form-control" id="exampleInputPassword1">
  </div>
  <div class="flex-custom mb-3 form-group w-50">
    <button type="submit" class="btn btn-primary">Submit</button>

    <button class="btn btn-info" type="button">
      <a (click)="GoToRegister()" class="link-button-custom" >Register</a>
    </button>

    <button class="btn btn-link" type="button">
    <a (click)="forgetPassword()" >Forgot Password?</a>
    </button>
  </div>
<br>
  <div class="google-btn" style="margin-left: 15%;">
    <div class="google-icon-wrapper">
      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
    </div>
  <a  (click)="loginWithGoogle()" mat-raised-button class="google-login-btn ">
    Sign In With Google
  </a>
  </div>
</form>

</section>
