





<form [formGroup]="SignIn" (ngSubmit)="onSubmit()" >
  <div class="mb-3">
    <label for="name"   class="form-label">full name</label>
    <input type="text" required formControlName="name" minlength="3" class="form-control" id="name">
  </div>

  <div class="mb-3 form-group">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>


  <div class="mb-3">
    <label for="password"   class="form-label">Password</label>
    <input type="password" required formControlName="password" minlength="7" class="form-control" id="exampleInputPassword1">
  </div>

  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
