.product {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    margin: auto;
    flex-wrap: wrap;
  }

  .product-image {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 60%;
    height: 200px;
    display: block;
    margin: auto;
  }

.custom-card{
  margin: 2rem;
}
