

<section class="banner">
    <div class="container-fluid product">
<ng-container *ngFor="let item of ProductList">
<div class="card custom-card text-center" style="width: 18rem;">
    <img [src]="item.image" class="product-image" [alt]="item.title">
    <div class="card-body">
      <h4 class="card-title">{{item.category}}</h4>
      <h6 class="card-title">{{item.title}}</h6>
      <p class="card-text">{{item.price}}</p>
      <a class="btn btn-primary"  routerLinkActive="router-link-active" style="margin: 2px; text-align: end;"  (click)="details(item.id)">view</a>

      <a class="btn btn-success"  routerLinkActive="router-link-active"  style="margin: 2px;" (click)="addProductToCart(item)">Add to cart</a>
    </div>
  </div>
</ng-container>
</div>
</section>
