<!-- <header>

    <div class="navbar" fxLayout="column" fxLayoutAlign="space-between center">
        <h1> My Store </h1>
    </div>
    <div class="navbar" fxLayout="row" fxLayoutAlign="space-between">
        <div class="nav-item"><a routerLink="/">Products</a></div>
        <div class="nav-item"><a routerLink="cart/">Cart</a></div>
    </div>
</header> -->

<header class="header navbar-dark bg-dark">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">{{myStore}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='products' routerLinkActive="router-link-active" >Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="cart"  class="nav-link">Cart<i class="fa fa-shopping-cart"></i> <span  id="cartAmount" #cartAmount>{{0}}</span></a>
        </li>
        <li class="navbar-item">
          <a routerLink="auth/login" *ngIf="!UserService.isLoggedIn" class="nav-link" >login</a>
        </li>
        <li class="navbar-item">
          <a routerLink="auth/Register" *ngIf="!UserService.isLoggedIn" class="nav-link" >Register</a>
        </li>
        <li class="navbar-item">
          <a type="button"  (click)="logout()" *ngIf="UserService.isLoggedIn" class="nav-link" >logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
