.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
  }

  a {
    color: #ffffff;
  }

.navbar {
    margin: 7px;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
a {
    color: #ffffff;
}

.cart-amount{
  color: white;
          padding: 1px 7px;
          border-radius: 50%;
          background: red;
          font-size: 13px;
          position: absolute;
          font-weight: bold;
          bottom: 15px;
          left: 55%;
}


.header {
  background-color: #02b3e4;
  height: 5rem;
  position: sticky;
  color: #ffffff;
}

#cartAmount {
  color: white;
  padding: 1px 7px;
  border-radius: 50%;
  background: red;
  font-size: 13px;
  position: absolute;
  font-weight: bold;
  bottom: 15px;
  left: 55%;
}

