<!-- <header>

    <div class="navbar" fxLayout="column" fxLayoutAlign="space-between center">
        <h1> My Store </h1>
    </div>
    <div class="navbar" fxLayout="row" fxLayoutAlign="space-between">
        <div class="nav-item"><a routerLink="/">Products</a></div>
        <div class="nav-item"><a routerLink="cart/">Cart</a></div>
    </div>
</header> -->

<!-- <header class="header navbar-dark bg-dark"> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav" >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">{{ myStore }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="bars"></fa-icon>
      </button>
      <div class="flex-grow-1 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="router-link-active">Products</a>
          </li>
          <li class="nav-item">
            <a routerLink="cart" class="nav-link">Cart</a>
          </li>
          <li class="nav-item">
            <a routerLink="auth/login" *ngIf="!UserService.isLoggedIn" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="auth/Register" *ngIf="!UserService.isLoggedIn" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a type="button" (click)="logout()" *ngIf="UserService.isLoggedIn" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

