<section class="banner">
      <table class="table table-dark table-hover">
        <thead class='thead'>
          <tr>
            <th>Image</th>
            <th>ID</th>
            <th>title</th>
            <th>Price</th>
            <th>Quatity</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartProducts;">
              <td>
                  <img
                    class="img-thumbnail img-responsive"
                    [src]="item.image"
                    style="height:80px;width:80px;"
                  />
                </td>

            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
            <td>{{item.amount}}</td>
            <td>
              <button
                class="btn btn-danger"
                (click)="deleteProduct(item.id)"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </section>

